<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @crew.members_name %>
</p>

<p>
  <strong>Band:</strong>
  <%= @crew.band %>
</p>

<%= link_to 'Edit', edit_band_crew_path(@band, @crew) %> |
<%= link_to 'Back', band_crews_path(@band) %>
